$accent:#d7b399;
$dark:rgb(0, 0, 0);
$light:rgb(201, 246, 64);
$grey:rgb(128, 125, 125);
$lite-grey:rgb(176, 176, 176);
$dark-grey:rgb(49, 49, 49);
$important:rgb(180, 0, 0);
body {
    font-family: 'Montserrat', sans-serif;
}

.page {
    padding-top: 100px;
    padding-bottom: 100px;
    &-light {
        background-color: $light;
    }
    &-dark {
        background-color: $dark
    }
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    padding-top: 46px;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    &-item {
        margin-right: 52px;
    }
    &-link {
        color: $dark;
        text-decoration: none;
    }
}

.cart {
    background-image: url(/img/353439-basket-buy-cart.svg);
    padding-left: 50px;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-right: 0;
    &-count {
        background-image: url(/img/back_arrow_icon_131563.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        height: 20px;
        color: #ffff;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 17px 10px 23px;
        display: block;
    }
}

.titke-h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

.btn {
    background-color: $accent;
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 24px;
    &-xs {
        padding: 5px 24px
    }
    &-center {
        display: block;
        text-align: center;
        max-width: 170px;
        margin: 0 auto;
        span {
            margin-right: 15px;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 50%;
    }
    .sale {
        &-description {
            font-size: 30px;
            letter-spacing: -0.6px;
        }
        &-title {
            font-size: 50px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
}

.box {
    position: relative;
    &-price {
        position: absolute;
        right: 0;
        top: 35px;
        text-align: right;
        &-old {
            font-size: 24px;
            font-weight: 700;
        }
        &-new {
            font-size: 24px;
            font-weight: 700;
            color: $important;
            margin-top: 17px;
        }
    }
    &-image {
        width: 100%;
        max-width: 556px;
    }
}

.notice {
    text-align: center;
    color: #ffff;
    padding: 64px 0 54px;
    &-title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    &-description {
        font-size: 21px;
    }
}

.collection {
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 50%;
        padding: 43px 0 63px;
        background-size: 190px 171px;
        background-repeat: no-repeat;
        background-position: calc(100% - 37px) bottom;
    }
    &-man {
        background-image: url(/img/man.png);
    }
    &-woman {
        background-image: url(/img/woman.png);
    }
    &-title {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }
    &-description {
        font-size: 16px;
        margin: 43px;
    }
}

.product {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    &-item {
        flex: 0 0 24%;
        position: relative;
        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 25px;
            //background-size: cover;
            //background-repeat: no-repeat;
        }
        &::before {
            background-image: url("/img/icons8.png");
        }
        &::after {
            background-image: url("/img/icons8.png");
        }
    }
    &-title {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 0;
    }
    &-price {
        color: $accent;
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    &-logo {
        flex: 0 0 40%;
    }
    &-nav {
        flex: 0 0 60%;
        display: flex;
        justify-content: space-between;
        color: #ffff;
    }
    &-list {
        list-style-type: none;
        padding-left: 0;
        &-title {
            font-size: 10px;
            font-weight: 700;
        }
        &-item {
            margin-bottom: 10px;
        }
        &-link {
            color: $grey;
            text-decoration: none;
            font-size: 14px;
        }
    }
}